<script>
  import bread from "../images/bread.svg";
  import bread_simple from "../images/bread_simple.svg";
  import bread_black from "../images/bread_black.svg";
  import cheese from "../images/cheese.svg";
  import cotlete from "../images/cotlete.svg";
  import salad from "../images/salad.svg";
  import tomato from "../images/tomato.svg";

  import bread_bottom from "../images/bread_bottom.svg";
  import bread_bottom_black from "../images/bread_bottom_black.svg";

  let ban = "kunjut";
  let withCheese = false;
  let withSalad = false;
  let withTomato = true;
  let withDoubleCotlete = false;

  $: b = ban === "kunjut" ? 30 : 50;
  $: c = withSalad ? 50 : 0;
  $: d = withTomato ? 50 : 0;
  $: e = withDoubleCotlete ? 100 : 0;
  $: sum = 100 + b + c + d + e;
</script>

<style>
  .hamburger {
    margin-top: -130px;
    position: relative;
  }
  .ingridients {
    position: absolute;
    top: 0;
  }
  .ingridients:nth-child(1) {
    z-index: 20;
    top: 0;
  }
  .ingridients:nth-child(2) {
    z-index: 19;
    top: 80px;
  }
  .ingridients:nth-child(3) {
    z-index: 18;
    top: 160px;
  }
  .ingridients:nth-child(4) {
    z-index: 17;
    top: 240px;
  }
  .ingridients:nth-child(5) {
    z-index: 16;
    top: 320px;
  }
  .ingridients:nth-child(6) {
    z-index: 15;
    top: 400px;
  }
  .ingridients:nth-child(7) {
    z-index: 14;
    top: 480px;
  }
  .ingridients:nth-child(8) {
    z-index: 13;
    top: 560px;
  }
  .form-item {
    padding: 15px 0 15px 0;
  }
</style>

<svelte:head>
  <title>Burgershop</title>
</svelte:head>

<h1>Burgershop</h1>

<div class="row">
  <div class="column column-50">
    <form>
      <fieldset>
        <div class="row form-item">
          <label class="column column-33">Ban</label>
          <label class="column column-33">
            White
            <input
              type="radio"
              bind:group={ban}
              value={'kunjut'}
              name="bread" />
          </label>
          <label class="column column-33">
            Black
            <input type="radio" bind:group={ban} value={'black'} name="bread" />
          </label>
        </div>
        <div class="row form-item">
          <label class="column column-33">Cheese</label>
          <div class="column column-66">
            <input type="checkbox" bind:checked={withCheese} name="cheese" />
          </div>
        </div>
        <div class="row form-item">
          <label class="column column-33">Double cotlete</label>
          <div class="column column-66">
            <input
              type="checkbox"
              bind:checked={withDoubleCotlete}
              name="cotlete" />
          </div>
        </div>
        <div class="row form-item">
          <label class="column column-33">Tomato</label>
          <div class="column column-66">
            <input type="checkbox" bind:checked={withTomato} name="tomato" />
          </div>
        </div>
        <div class="row form-item">
          <label class="column column-33">Salad</label>
          <div class="column column-66">
            <input type="checkbox" bind:checked={withSalad} name="salad" />
          </div>
        </div>
      </fieldset>
    </form>
    {sum}
  </div>
  <div class="column column-50">
    <div class="hamburger">
      {#if ban === 'simple'}
        <img class="ingridients" src={bread_simple} alt="bread" />
      {/if}
      {#if ban === 'kunjut'}
        <img class="ingridients" src={bread} alt="bread" />
      {/if}
      {#if ban === 'black'}
        <img class="ingridients" src={bread_black} alt="bread" />
      {/if}
      {#if withCheese}
        <img class="ingridients" src={cheese} alt="cheese" />
      {/if}
      <img class="ingridients" src={cotlete} alt="cotlete" />

      {#if withDoubleCotlete}
        <img class="ingridients" src={cotlete} alt="cotlete" />
      {/if}
      {#if withSalad}
        <img class="ingridients" src={salad} alt="salad" />
      {/if}
      {#if withTomato}
        <img class="ingridients" src={tomato} alt="tomato" />
      {/if}
      {#if ban === 'black'}
        <img class="ingridients" src={bread_bottom_black} alt="bread" />
      {:else}
        <img class="ingridients" src={bread_bottom} alt="bread" />
      {/if}
    </div>
  </div>
</div>
